<p class="text-4xl">Software and Tools</p>
<br />
<ul class="list-disc ml-8">
  <li>
    <p class="text-xl">Research</p>

    <ul class="list-disc ml-8">
      <li>
        RSBio-Seq (Fast lightweight genomic sequence reader/writer)
        <a
          href="https://github.com/anuradhawick/rsbio-seq"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/rsbio-seq</a
        >
      </li>
      <li>
        KmerTools (High performance k-mer generation tool)
        <a
          href="https://github.com/anuradhawick/kmertools"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/kmertools</a
        >
      </li>
      <li>
        OBLR (PacBio/ONT graph based binner)
        <a
          href="https://github.com/anuradhawick/oblr"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/oblr</a
        >
      </li>
      <li>
        LRBinner (PacBio/ONT reads binning tool)
        <a
          href="https://github.com/anuradhawick/LRBinner"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/LRBinner</a
        >
      </li>
      <li>
        MetaBCC-LR (PacBio/ONT reads binning tool)
        <a
          href="https://github.com/anuradhawick/MetaBCC-LR"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/MetaBCC-LR</a
        >
      </li>
      <li>
        PlasLR (Plasmid classification extension for PacBio/ONT reads)
        <a
          href="https://github.com/anuradhawick/PlasLR"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/PlasLR</a
        >
      </li>
      <li>
        GraphPlas (Graph based plasmid classification extension tool)
        <a
          href="https://github.com/anuradhawick/GraphPlas"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/GraphPlas</a
        >
      </li>
    </ul>
  </li>
  <li>
    <p class="text-xl">General</p>
    <ul class="list-disc ml-8">
      <li>
        Clipper (Clipboard manager with productivity features)
        <a
          href="https://github.com/anuradhawick/clipper"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/clipper</a
        >
      </li>
      <li>
        TypeFaster (AWS Serverless website to practice keyboards)
        <a
          href="https://typefaster.anuradhawick.com"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://typefaster.anuradhawick.com</a
        >
      </li>
      <li>
        IceBreak (AWS Serverless website for group interval-breaks)
        <a
          href="https://icebreak.anuradhawick.com"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://icebreak.anuradhawick.com</a
        >
      </li>
      <li>
        Vinyl.LK (AWS Serverless/Atlas Mongo hosted website for Sri Lankan vinyl records)
        <a
          href="https://www.vinyl.lk"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://www.vinyl.lk</a
        >
      </li>
      <li>
        YOLO Object Annotation Maker
        <a
          href="https://github.com/anuradhawick/Object-Annotation-Maker"
          class="text-cyan-300 underline break-all"
          target="_blank"
          rel="noopener noreferrer"
          >https://github.com/anuradhawick/Object-Annotation-Maker</a
        >
      </li>
    </ul>
  </li>
</ul>
