<p class="text-4xl">Education</p>
<ul class="list-disc ml-8">
  <li>
    <p class="text-xl">
      Doctor of Philosophy in Computer Science - School of Computing, Australian National
      University, Canberra, Australia
    </p>
    <ul class="list-disc ml-8">
      <li>August 2018 - December 2022</li>
      <li>
        Models and algorithms for analysing genomic data from microbial communities. I used machine
        learning models (ANNs and GNNs) and algorithms (for feature generation and clustering) to
        analyse metagenomic data for understanding microbial communities.
      </li>
    </ul>
  </li>
  <li>
    <p class="text-xl">
      BSc (Hons) Computer Science and Engineering - Department of Computer Science and Engineering,
      University of Moratuwa, Sri Lanka
    </p>
    <ul class="list-disc ml-8">
      <li>February 2014 - December 2017</li>
      <li>
        Graduated with First Class Honours. Final year project on "Personal cloud device with peer
        to peer remote file sharing". GPA of 4.06/4.2. First class with deans list for all 8
        semesters.
      </li>
    </ul>
  </li>
</ul>
