<p class="text-4xl">Posters and Presentations</p>
<br />
<ul class="list-disc ml-8 text-lg">
  <li>
    ABACBS+SBEI 2025 - talk on AskBeacon (AI driven data exchange at scale), Poster on TRECA -
    trusted research environments and clinical applications and Panelist at SBEI 2025
  </li>
  <li>GA4GH Connect 2024 - Proposals for Using the OR Boolean Operator in GA4GH Beacon Protocol</li>
  <li>ICG 2023 - sBeacon - ontology aware querying of genomic data at scale</li>
  <li>
    Microbiology Society Meeting 2022 - Metagenomics binning by coverage and composition for long
    reads
  </li>
  <li>RECOMB-CG 2022 - Metagenomics binning of long reads using read-overlap graphs</li>
  <li>WABI 2021 - LRBinner: binning long reads in metagenomics datasets</li>
  <li>GLBIO 2021 - PlasLR Enables Adaptation of Plasmid Prediction for Error-Prone Long Reads</li>
  <li>ISMB 2020 - MetaBCC-LR: metagenomics binning by coverage and composition for long reads</li>
</ul>
