<p class="text-4xl">Awards and Achievements</p>
<br />
<ul class="list-disc ml-8">
  <li>
    <p class="text-xl">Academic</p>
    <ul class="list-disc ml-8">
      <li>ANU Merit Fee Remission and PhD Scholarships</li>
      <li>Deans list for all 8 semesters during BSc (Hons)</li>
      <li>Mahapola Sri Lankan undergraduate scholarship (merit based)</li>
      <li>GCE Advanced Level Island Rank 68 (District Rank 4)</li>
    </ul>
  </li>
  <li>
    <p class="text-xl">Non-Academic</p>
    <ul class="list-disc ml-8">
      <li>
        CSIRO Awards
        <ul class="list-disc ml-8">
          <li>
            Entrepreneurship Award 2024 – Provide bioinformatics and data exchange capability for
            Indonesia.
          </li>
          <li>
            Science and Engineering Award 2022 – For increasing Indo-Pacific SARS-CoV-2 monitoring
            capability.
          </li>
        </ul>
      </li>
      <li>
        Awards
        <ul class="list-disc ml-8">
          <li>
            Merit Award – National Best Quality ICT Awards (NBQSA) Oct 2017 (Sri Lanka) for Final
            Year Honours Project
          </li>
          <li>
            Merit Award – National Best Quality ICT Awards (NBQSA) Oct 2016 (Sri Lanka) for Taxi
            Master Project
          </li>
        </ul>
      </li>
      <li>
        Hackathons
        <ul class="list-disc ml-8">
          <li>First place: IDEA Challenge 2017</li>
          <li>Google IO 2016 1st Runners up May 2016</li>
          <li>First place: IDEA Challenge 2016</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
