<dialog
  #dialog
  class="backdrop:bg-white/30 backdrop:backdrop-blur-xs m-auto p-4 shadow-2xl rounded-2xl"
>
  <div>
    Details of the publication...
    <select>
      <option value="default">Choose…</option>
      <option>United States</option>
      <option>France</option>
      <option>Australia</option>
    </select>
  </div>
  <div>
    <button (click)="dialog.close()">OK</button>
  </div>
</dialog>

<p class="text-4xl">Publications</p>
<span class="italic"
  >Updated on: DD/MM/YYYY from
  <a
    href="https://scholar.google.com/citations?hl=en&user=u-rFXwUAAAAJ"
    class="text-cyan-300 underline break-all"
    target="_blank"
    rel="noopener noreferrer"
    >Google Scholar</a
  ></span
>
<br />
Display manuscripts
<span
  [class.font-bold]="displayMode() === DisplayMode.ALL"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setDisplayMode(DisplayMode.ALL)"
  >All</span
>,
<span
  [class.font-bold]="displayMode() === DisplayMode.YEAR_2025"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setDisplayMode(DisplayMode.YEAR_2025)"
  >2025</span
>,
<span
  [class.font-bold]="displayMode() === DisplayMode.RECENT_10"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setDisplayMode(DisplayMode.RECENT_10)"
  >Recent 10</span
>,
<span
  [class.font-bold]="displayMode() === DisplayMode.MOST_CITED_10"
  class="cursor-pointer italic text-cyan-300 underline"
  >Most Cited 10</span
>
<br />
In the order
<span
  [class.font-bold]="sortOrder() === SortOrder.RECENT"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setSortOrder(SortOrder.RECENT)"
  >Recent</span
>,
<span
  [class.font-bold]="sortOrder() === SortOrder.OLDEST"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setSortOrder(SortOrder.OLDEST)"
  >Oldest</span
>,
<span
  [class.font-bold]="sortOrder() === SortOrder.MOST_CITED"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setSortOrder(SortOrder.MOST_CITED)"
  >Most cited</span
>,
<span
  [class.font-bold]="sortOrder() === SortOrder.LEAST_CITED"
  class="cursor-pointer italic text-cyan-300 underline"
  (click)="setSortOrder(SortOrder.LEAST_CITED)"
  >Least cited</span
>

<ul class="list-disc ml-8 text-xl">
  <li (click)="dialog.showModal()" class="text-cyan-300">item</li>
</ul>
