<p class="text-4xl">Skills</p>
<br />
<ul class="list-disc ml-8">
  <li>
    <p class="text-xl">Dev Ops</p>
    <ul class="list-disc ml-8">
      <li>Terraforming and population scale genomic data platform development</li>
      <li>Expertise in Infrastructure as Code, CI/CD and high scale systems development</li>
    </ul>
  </li>
  <li>
    <p class="text-xl">Programming</p>
    <ul class="list-disc ml-8">
      <li>Rust, Go, Python, C, C++, Java, JavaScript, Node.js, etc.</li>
      <li>Command line and web development of research software in Rust, Go and Python.</li>
      <li>Industrial experience in ReactJS, MongoDB, AWS Serverless and AWS developer console.</li>
      <li>Research experience in Python, C and C++.</li>
    </ul>
  </li>
  <li>
    <p class="text-xl">Tools / Frameworks</p>
    <ul class="list-disc ml-8">
      <li>
        Bioinformatics tools
        <ul class="list-disc ml-8">
          <li>Aligners – minimap2, BLAST+, Edlib, etc.</li>
        </ul>
      </li>
      <li>
        Bioinformatics / Programming libraries
        <ul class="list-disc ml-8">
          <li>libminimap2, GATK, Edlib, Biopython, etc.</li>
          <li>Boost C++ Libraries</li>
        </ul>
      </li>
      <li>
        Machine Learning
        <ul class="list-disc ml-8">
          <li>Dask, RAPIDS, XGBoost, TensorFlow, PyTorch, scikit-learn</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
