<p class="text-6xl">Anuradha Wickramarachchi, PhD</p>
<hr class="my-4" />
<p>
  I am a passionate engineer and a scientist. I specialize in developing innovative solutions and
  conducting cutting-edge research. I have a PhD in Computer Science from the Australian National
  University and have a BSc (Hons) in Computer Science and Engineering from the University of
  Moratuwa, Sri Lanka.
  <br />
  <br />
  Currently I am a Solutions Architect at Commonwealth Scientific and Industrial Research
  Organisation (CSIRO), Australia. I design and build solutions for population scale health and
  biosecurity problems, that scale to real world population sizes.
  <br />
  <br />
  I am looking for software engineering roles in high performance, distributed cloud systems and
  data science and data engineering roles, as well as bioinformatics roles.
  <br />
  <br />
  Contact details: anuradha.c.wickramarachchi@gmail.com
</p>
